html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
}

.shadow {
  position: absolute;
  background: hsla(0, 73%, 45%, 0.623);
  border-radius: 24px;
  rotate: 35deg;

  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  animation: shadow-move infinite 8s ease-in-out alternate;
}

@keyframes shadow-move {
  0% {
    right: 460px;
    transform: translateX(0);
  }
  20% {
    right: 460px;
    transform: translateX(-10px);
  }
  40% {
    right: 360px;
    transform: translateX(10px);
  }
  60% {
    right: 360px;
    transform: translateX(-10px);
  }
  80% {
    right: 460px;
    transform: translateX(10px);
  }
  100% {
    right: 460px;
    transform: translateX(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsla(60, 100%, 50%, 20%);
      right: 460px;
    }
    to {
      background: hsla(60, 100%, 50%, 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsla(60, 100%, 50%, 20%);
      right: 280px;
    }
    to {
      background: hsla(60, 100%, 50%, 30%);
      right: 100px;
    }
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 8.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 12em;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green; /* Cursor */
  animation:
    typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.animation {
  width: 100%;
  animation:
    typing 5s steps(20, end),
    blink-caret 0.2s step-end infinite alternate;

  white-space: nowrap;
  overflow: hidden;
  -webkit-animation:
    typing 4s steps(20, end),
    blink-caret 0.2s step-end infinite alternate;
}


